@model IEnumerable<string>

<div class="category all">
    <!-- <ion-icon name="call-outline"></ion-icon> -->
    <h3>
        <a asp-action="Index"
           asp-controller="Products"
           asp-route-category="">All</a>
    </h3>
</div>
@foreach (string category in Model)
{

    <div class="category">
        <h3>
            <a class="@(category == @ViewBag.SelectedCategory ? "btn-primary" : "btn-secondary")"
               asp-action="Index"
               asp-controller="Products"
               asp-route-category="@category"
               asp-route-productPage="1">
                @category
            </a>
        </h3>
    </div>
}