@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var customer = ViewBag.Message;
}

<table>
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>@customer.Name</td>
        <td>@customer.PhoneNumber</td>
        <td>@customer.Email</td>
        <td>@customer.Address</td>
    </tr>
</table>
