@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .downloadBtn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }

    /* Darker background on mouse-over */
        .downloadBtn:hover {
            background-color: RoyalBlue;
        }
</style>
<div class="text-center">
    <iframe src="https://drive.google.com/file/d/1wJMxk5xWXVOux3fAtkyTV8Jh3j34PZfX/preview" width="740" height="980"> </iframe>
    <br/>
    <a href="~/files/checklist/MrsCleanPrepChecklist.pdf" download class="downloadBtn btn"><i class="fa fa-download"></i> Download</a>
</div>
