@{
    ViewData["Title"] = "Home Page";
}

@model MrsCleanCapstone.Models.ViewModels.HomePageViewModel

<section class="main">
    <div class="content">
        <div class="text">
            <h2>Your mobile <br> auto detailing <span>service</span></h2>
            <p>
                Mrs. Clean Auto Spa is the mobile detailing service that comes to you! Book an appointment with us and let us leave your vehicle clean, shiny and smelling fresh.
            </p>
            <a asp-action="Book" asp-controller="Appointments" class="btn">Book Appointment</a>
        </div>
        <div class="slider">
            <div class="slides active">
                <h2 class="city_names">Burlington</h2>
                <img src="/images/burlington.jpg" alt="">
            </div>
            <div class="slides">
                <h2 class="city_names">Oakville</h2>
                <img src="/images/oakville.jpg" alt="">
            </div>
            <div class="slides">
                <h2 class="city_names">Milton</h2>
                <img src="/images/milton.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="footer">
        <ul class="sci">
            <li>
                <a href="https://www.facebook.com/mrscleanautospa">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mrscleanautospa/?hl=en">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
        </ul>
        <div class="prevNext">
            <p>Our Locations</p>
            <span class="prev">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </span>
            <span class="next">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </span>
        </div>
    </div>
</section>
<section class="services" id="services">
    <div class="services_content">
        <div class="services_title">
            <h3>What we do</h3>
            <h2>Our Services</h2>
        </div>
        <div class="services_cards">
            <div class="service_card">
                <img src="/images/mrsclean-logosmall.png" alt="">
                <h2>Interior Cleaning</h2>
                <p>
                    We will clean, deodorize and vacuum the interior of your vehicle leaving it fresh smelling and looking great! 
                </p>
                <ul>
                    <li>SUV - $100.00</li>
                    <li>Sedan - $75.00</li>
                    <li>Van - $100.00</li>
                    <li>Truck - $50.00</li>
                    
                </ul>
            </div>
            <div class="service_card">
                <img src="/images/mrsclean-logosmall.png" alt="">
                <h2>Exterior Cleaning</h2>
                <p>
                    We will clean and polish the outside of your vehicle to create a shine that you will want to show off!
                </p>
                <ul>
                    <li>SUV - $100.00</li>
                    <li>Sedan - $75.00</li>
                    <li>Van - $100.00</li>
                    <li>Truck - $120.00</li>

                </ul>
            </div>
        </div>
    </div>
</section>
<section class="aboutus" id="aboutus">
    <div class="about_image">
        <img src="/images/MotherSon.jpg" alt="">
    </div>
    <div class="about_content">
        <div class="about_title">
            <h3>Why us?</h3>
            <h2>About Us</h2>
        </div>
        <p>
            Founded by a mother and son team who were sick and tired and having to drive their vehicles to a car wash to get their vehicle in tip-top shape,
            Mrs. Clean Auto Spa became their solution to the chore of having a clean vehicle whenever you need it! Dedicated to giving quality service both inside
            and outside of your vehicle, Mrs. Clean Auto Spa is your answer to the question: How can I keep my car clean if I don't have any time to clean it?
        </p>
        <button class="btn">Watch Video</button>
    </div>
</section>
<section class="benefits">
    <div class="benefits_content">
        <div class="benefits_title">
            <h3>Still wondering, Why Us?</h3>
            <h2>Service Benefits</h2>
        </div>
        <p>
            With our service booking an appointment is easy, quick and gives you peace of mind that your vehicle will be looking and smelling great when you need it!
        </p>
        <div class="benefits_cards">
            <div class="benefit_card">
                <div class="benefit_icon">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <h3>Three Locations</h3>
                <p>We service all areas in Burlington, Milton, and Oakville!</p>
            </div>
            <div class="benefit_card">
                <div class="benefit_icon">
                    <ion-icon name="lock-open-outline"></ion-icon>
                </div>
                <h3>Open all days</h3>
                <p>Open 7 days a week for your clean vehicle experience!</p>
            </div>
            <div class="benefit_card">
                <div class="benefit_icon">
                    <ion-icon name="move-outline"></ion-icon>
                </div>
                <h3>Mobile</h3>
                <p>Not at home? Thats ok, we will come to where your car is located!</p>
            </div>
        </div>
    </div>
</section>
<section class="imagesection">
    <div class="work_content">
        <div class="work_title">
            <h3>Here's what a customer had to say!</h3>
                   
                    <p>
                    "Shout out to Mrs.Clean Affordable Mobile Car Detailing for the amazing car detail!
                    Great prices and great service. Highly recommend:)
                    They come to your home and in and out in about an hour!
                    So happy with the finished product. Wish I took before pictures to show you how amazing they did.
                    Thank you so much!" - Sarah F.
                    </p>
                
            <h2>Check out our work!</h2>
        </div>
    </div>
    <div class="image_grid">
        <div class="image_card">
            <img src="/images/work1.jpg" alt="">
            <div class="overlay">
            </div>
        </div>
        <div class="image_card">
            <img src="/images/work2.jpg" alt="">
            <div class="overlay">
            </div>
        </div>
        <div class="image_card">
            <img src="/images/work3.jpg" alt="">
            <div class="overlay">
            </div>
        </div>
        <div class="image_card">
            <img src="/images/work4.jpg" alt="">
            <div class="overlay">
            </div>
        </div>
        <div class="image_card">
            <img src="/images/work5.jpg" alt="">
            <div class="overlay">
            </div>
        </div>
        <div class="image_card">
            <img src="/images/work6.jpg" alt="">
            <div class="overlay">
            </div>
        </div>
        <div class="image_card">
            <img src="/images/work7.jpg" alt="">
            <div class="overlay">
            </div>
        </div>
        <div class="image_card">
            <img src="/images/work8.jpg" alt="">
            <div class="overlay">
            </div>
        </div>
    </div>
</section>
<section class="team">
    <div class="team_content">
        <div class="team_title">
            <h3>Meet our Team!</h3>
            <h2>Team Members</h2>
        </div>
        <div class="team_member_cards">
            <div class="member_card">
                <img src="/images/avatar1.png" alt="Avatar" style="width:100%">
                <div class="member_description">
                    <h3><b>John <span>Doe</span></b></h3>
                    <h4>Interior Cleaning Expert</h4>
                    <p>Expert at neutralizing odors and leaving your car fresh!</p>
                </div>
            </div>
            <div class="member_card">
                <img src="/images/avatar2.png" alt="Avatar" style="width:100%">
                <div class="member_description">
                    <h3><b>Jane <span>Doe</span></b></h3>
                    <h4>Owner & Manager</h4>
                    <p>Motivates her team to give you the best cleaning experience!</p>
                </div>
            </div>
            <div class="member_card">
                <img src="/images/avatar3.png" alt="Avatar" style="width:100%">
                <div class="member_description">
                    <h3><b>John <span>Doe</span></b></h3>
                    <h4>Exterior Cleaning Expert</h4>
                    <p>Expert at removing dirt and grime to make your car shine!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contactus" id="contact">
    <div class="contact_content">

        <div class="contact_info">
            <div class="contact_basic">
                <div class="contact_title">
                    <h3>Get in Touch</h3>
                    <h2>Contact Us</h2>
                </div>
                <div class="phone basicbox">
                    <ion-icon name="call-outline"></ion-icon>
                    <h3>+1 (111-222-3333)</h3>
                </div>
                <div class="email basicbox">
                    <ion-icon name="mail-unread-outline"></ion-icon>
                    <h3>abc@email.com</h3>
                </div>
                <div class="social basicbox">
                    <h3>Social media!</h3>
                    <ul class="sci">
                        <li>
                            <a href="https://www.facebook.com/mrscleanautospa">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/mrscleanautospa/?hl=en">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="divider"></div>
            <div class="contact_form_container">
                <div class="contact_title">
                    <h3>Got anything to say to us</h3>
                    <h2>Any FeedBack</h2>
                </div>
                <form id="feedbackForm" class="contact_form" asp-action="Create" asp-controller="Feedbacks">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    <input asp-for="@Model.Feedback.Name" name="Name" placeholder="Enter name" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    <input asp-for="@Model.Feedback.Email" name="Email" placeholder="Enter email" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Message" data-valmsg-replace="true"></span>
                    <input asp-for="@Model.Feedback.Message" name="Message" placeholder="Enter message" />
                    <button type="submit" class="btn">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(document).ready(function () {
     
            var jsViewData = '@ViewData["MESSAGE"]';
            if (jsViewData && jsViewData == "SUCCESS") {
                toastr.success("Thanks for the feedback");
            } else if (jsViewData && jsViewData == "ERROR") {
                toastr.error("Error Encountered! Please try again later");
            }
        //slider
        const slides = document.querySelectorAll('.slides');
        const prev = document.querySelector('.prev');
        const next = document.querySelector('.next');

        i = 0;

        function ActiveSlides(n) {
            for (slide of slides) {
                slide.classList.remove('active');
            }
            slides[n].classList.add('active')
        }

        prev.addEventListener('click', () => {
            if (i == 0) {
                i = slides.length - 1;
                ActiveSlides(i);
            } else {
                i--;
                ActiveSlides(i);
            }
        })

        next.addEventListener('click', () => {
            if (i == slides.length - 1) {
                i = 0;
                ActiveSlides(i);
            } else {
                i++;
                ActiveSlides(i);
            }
        });

        });


    </script>
}
