@{
    ViewData["Title"] = "Home Page";
}

<div class="home-section-1">
    <div class="content-intro">
        <h1>Book an appointment</h1>
        <p>based on the service you need</p>
        <br />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus tempora hic ipsam iure, rem
            consequuntur? Laudantium, adipisci consectetur sequi aspernatur in pariatur, possimus praesentium inventore
            debitis tempora porro dolor distinctio.</p>
        <a href="#" class="button">Book Appointment</a>
    </div>
    <div class="content-logo">
        <img src="~/images/mrsclean-logosmall.png" />
    </div>
</div>
