
<div class="text-center">
    <h1 class="display-4">Available Services</h1><br />
</div>
<div class="mc-tables">
    <div class="mc-interior">
        <h3>Interior Cleaning</h3>
        <table class="mc-table">
            <tr>
                <th class="mc-th">Vehicle Type</th>
                <th class="mc-th">Price</th>
            </tr>
            <tr>
                <td class="mc-td">Sedan</td>
                <td class="mc-td">$150.00</td>
            </tr>
            <tr>
                <td class="mc-td">SUV</td>
                <td class="mc-td">$175.00</td>
            </tr>
            <tr>
                <td class="mc-td">Pickup Truck</td>
                <td class="mc-td">$125.00</td>
            </tr>
            <tr>
                <td class="mc-td">Minivan</td>
                <td class="mc-td">$175.00</td>
            </tr>
            <tr>
                <td class="mc-td">Van</td>
                <td class="mc-td">$150.00</td>
            </tr>
            <tr>
                <td class="mc-td">Hatchback</td>
                <td class="mc-td">$175.00</td>
            </tr>
            <tr>
                <td class="mc-td">Crosssover</td>
                <td class="mc-td">$175.00</td>
            </tr>
            <tr>
                <td class="mc-td">Station Wagon</td>
                <td class="mc-td">$175.00</td>
            </tr>

        </table>
    </div>

    <div class="mc-exterior">
        <h3>Exterior Cleaning</h3>
        <table class="mc-table">
            <tr>
                <th class="mc-th">Vehicle Type</th>
                <th class="mc-th">Price</th>
            </tr>
            <tr>
                <td class="mc-td">Sedan</td>
                <td class="mc-td">$100.00</td>
            </tr>
            <tr>
                <td class="mc-td">SUV</td>
                <td class="mc-td">$125.00</td>
            </tr>
            <tr>
                <td class="mc-td">Pickup Truck</td>
                <td class="mc-td">$150.00</td>
            </tr>
            <tr>
                <td class="mc-td">Minivan</td>
                <td class="mc-td">$125.00</td>
            </tr>
            <tr>
                <td class="mc-td">Van</td>
                <td class="mc-td">$175.00</td>
            </tr>
            <tr>
                <td class="mc-td">Hatchback</td>
                <td class="mc-td">$125.00</td>
            </tr>
            <tr>
                <td class="mc-td">Crosssover</td>
                <td class="mc-td">$125.00</td>
            </tr>
            <tr>
                <td class="mc-td">Station Wagon</td>
                <td class="mc-td">$150.00</td>
            </tr>
        </table>
    </div>
    <div class="mc-exterior-interior">
        <h3>Exterior & Interior Cleaning</h3>
        <table class="mc-table">
            <tr>
                <th class="mc-th">Vehicle Type</th>
                <th class="mc-th">Price</th>
            </tr>
            <tr>
                <td class="mc-td">Sedan</td>
                <td class="mc-td">$200.00</td>
            </tr>
            <tr>
                <td class="mc-td">SUV</td>
                <td class="mc-td">$250.00</td>
            </tr>
            <tr>
                <td class="mc-td">Pickup Truck</td>
                <td class="mc-td">$225.00</td>
            </tr>
            <tr>
                <td class="mc-td">Minivan</td>
                <td class="mc-td">$250.00</td>
            </tr>
            <tr>
                <td class="mc-td">Van</td>
                <td class="mc-td">$275.00</td>
            </tr>
            <tr>
                <td class="mc-td">Hatchback</td>
                <td class="mc-td">$250.00</td>
            </tr>
            <tr>
                <td class="mc-td">Crosssover</td>
                <td class="mc-td">$250.00</td>
            </tr>
            <tr>
                <td class="mc-td">Station Wagon</td>
                <td class="mc-td">$275.00</td>
            </tr>
        </table>
    </div>
</div>