@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="admin-appointments-grid">
    <div class="admin-appointments-grid-title">
            <h3>Admin Panel</h3>
            <h2>View Bookings</h2>
    </div>
    <div class="appointmentsContainer">
        <div id="dataGrid"></div>
    </div>
</div>

<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="dealsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Appointment Information</h3>
                <input type="text" class="form-control mb-2" id="apptId" hidden />
                <label>Date: </label>
                <input type="text" class="form-control mb-2" id="apptDate" value="" />
                <label>Any Pet Hair: </label>
                <input type="text" class="form-control mb-2" id="apptPetHair" value="" />
                <label>Water Hose: </label>
                <input type="text" class="form-control mb-2" id="apptWaterHose" value="" />
                <label>Water Supply: </label>
                <input type="text" class="form-control mb-2" id="apptWaterSupply" value="" />
                <label>Power Outlet: </label>
                <input type="text" class="form-control mb-2" id="apptOutlet" value="" />
                <h3>Customer Information</h3>
                <label>Customer Phone Number: </label>
                <input type="text" class="form-control mb-2" id="apptPhone" value="" />
                <label>Customer Email: </label>
                <input type="text" class="form-control mb-2" id="apptEmail" value="" />
                <label>Address: </label>
                <input type="text" class="form-control mb-2" id="apptAddress" value="" />

            </div>
            <div class="modal-footer">
                <button type="button" class="deletebtn" data-dismiss="modal">Close</button>
                <button type="button" class="mc-btn" onclick="saveAppointmentChanges()">Update Appointment </button>
                <button type="button" class="mc-btn" onclick="saveCustomerChanges()">Update Customer</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

<script>
    $(document).ready(function () {

        $.ajax({
            url: '/admin/allappointments',
            type: 'GET',
            dataType: 'json', // added data type
            success: function (res) {
                console.log(res);
                $("#dataGrid").dxDataGrid({
                    dataSource: res,
                    keyExpr: "id",
                    columns: [
                        {
                            caption: "Customer Name",
                            cellTemplate: function (container, options) {
                                $('<a>' + options.data.customerfk.name + '</a>')
                                    .attr('href', '/Customers/Info/' + options.data.customerfk.id)
                                    .attr('target', '_blank')
                                    .appendTo(container);
                            },
                            allowFiltering: "true",
                            allowSorting: true
                        },
                        {
                            caption: "Phone Number",
                            calculateCellValue: function (rowData) {
                                return rowData.customerfk.phoneNumber;
                            },
                            allowFiltering: "true",
                            allowSorting: true
                        },
                        {
                            caption: "Email",
                            calculateCellValue: function (rowData) {
                                return rowData.customerfk.email;
                            },
                            allowFiltering: "true",
                            allowSorting: true
                        },
                        {
                            caption: "Address",
                            calculateCellValue: function (rowData) {
                                return rowData.customerfk.address;
                            },
                            allowFiltering: "true",
                            allowSorting: true
                        },
                        {
                            caption: "Appointment Date",
                            calculateCellValue: function (rowData) {
                                return rowData.date;
                            },
                            allowFiltering: "true",
                            allowSorting: true
                        },
                        {

                            caption: "Vehicle Type - #Seats",
                            calculateCellValue: function (rowData) {
                                var allVehicles = "";
                                rowData.vehicles.forEach((el) => {
                                    allVehicles += el.type+" - "+el.numSeats + ", ";
                                });
                                return allVehicles == "" ? "No Vehicle" : allVehicles.substring(0, allVehicles.length-2);
                            },
                            allowFiltering: "true",
                            allowSorting: true,
                            allowExporting: true
                        },
                        {
                            caption: "Edit/Delete",
                            cellTemplate: function (container, options) {


                                $('<button>' + 'Edit' + '</button>')
                                    .attr('onclick', 'openEditModal("'
                                        + options.data.id + '`'
                                        + options.data.date + '`'
                                        + options.data.anyPetHair + '`'
                                        + options.data.waterHoseAvailability + '`'
                                        + options.data.waterSupplyConnection + '`'
                                        + options.data.powerOutletAvailable + '`'
                                        + options.data.customerfk.phoneNumber + '`'
                                        + options.data.customerfk.email + '`'
                                        + options.data.customerfk.address + '`'
                                        + options.data.customerfk.id

                                        + '")')
                                    .attr('target', '_blank')
                                    .attr('class', 'mc-btn')
                                    .appendTo(container);

                                $('<button>' + '  ' + 'Delete' + '</button>')
                                    .attr('onclick', 'deleteAppointment("' + options.data.id + '")')
                                    .attr('target', '_blank')
                                    .attr('class', 'deletebtn')
                                    .appendTo(container);
                            },
                            
                            allowFiltering: "true",
                            allowSorting: true
                            
                            

                            
                        }
                    ],
                    summary: { groupItems: [{ summaryType: "count", displayFormat: "{0} records" }] },
                    paging: { pageSize: 10 },
                    allowColumnReordering: true,
                    allowColumnResizing: true,
                    filterRow: { visible: true, applyFilter: "auto" },
                    headerFilter: { visible: true },
                    columnChooser: { enabled: true },
                    pager: { showPageSizeSelector: true, allowedPageSizes: [10, 25, 50], showInfo: true, showNavigationButtons: true },
                    groupPanel: { visible: true },
                    grouping: { autoExpandAll: false },
                    export: { enabled: true, fileName: "AllAppointments", },
                    noDataText: "No data", onContentReady: function () { $("#dataGrid > .dx-datagrid").addClass("dx-container"); },
                    searchPanel: { visible: true },

                    // Configuration goes here
                });
            }
        });


    });

    function openEditModal(apptId) {
        console.log(apptId);
        var apptToEdit = apptId.split("`");
        console.log(apptToEdit[9]);

        $("#apptId").val(apptToEdit[0]);
        $("#apptDate").val(apptToEdit[1]);
        $("#apptPetHair").val(apptToEdit[2]);
        $("#apptWaterHose").val(apptToEdit[3]);
        $("#apptWaterSupply").val(apptToEdit[4]);
        $("#apptOutlet").val(apptToEdit[5]);
        $("#apptPhone").val(apptToEdit[6]);
        $("#apptEmail").val(apptToEdit[7]);
        $("#apptAddress").val(apptToEdit[8]);
        $("#custId").val(apptToEdit[9]);
       
       
        $('#bookingModal').modal('show')
    }

    function saveAppointmentChanges() {
        var appointment = {}
        //var customer = {};
        appointment.Id = $("#apptId").val();
        appointment.Date = $("#apptDate").val();
        appointment.PetHair = $("#apptPetHair").val();
        appointment.WaterHose = $("#apptWaterHose").val();
        appointment.WaterSupply = $("#apptWaterSupply").val();
        appointment.Outlet = $("#apptOutlet").val();
        //customer.Id = $('#custId').val();
        //customer.PhoneNumber = $('#apptPhone').val();
        //customer.Email = $('#apptEmail').val();
        //customer.Address = $('#apptAddress').val();

        $.ajax({
            type: "POST",
            url: "/admin/appointment/edit",
            data: JSON.stringify(appointment),
            //data: JSON.stringify(customer),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log("Success");
                window.location.reload();
            },
            failure: function (response) {
                console.log("Hello")
                alert(response);
            },
            error: function (response) {
                console.log("Hello error")
                console.log(response)
                alert(response);
            }

        })

    }

    function saveCustomerChanges() {
        
        var customer = {};
   
        customer.Id = $('#custId').val();
        customer.PhoneNumber = $('#apptPhone').val();
        customer.Email = $('#apptEmail').val();
        customer.Address = $('#apptAddress').val();

        $.ajax({
            type: "POST",
            url: "/admin/customer/edit",
            data: JSON.stringify(customer),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log("Success");
                window.location.reload();
            },
            failure: function (response) {
                console.log("Hello")
                alert(response);
            },
            error: function (response) {
                console.log("Hello error")
                console.log(response)
                alert(response);
            }

        })

    }

    function deleteAppointment(id) {
        $.ajax({
            type: "POST",
            url: "/admin/appointment/delete/" + id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log("Success");
                window.location.reload();
            },
            failure: function (response) {
                console.log("Hello")
                alert(response);
            },
            error: function (response) {
                console.log("Hello error")
                console.log(response)
                alert(response);
            }

        })
    }
</script>
}
