@using MrsCleanCapstone.Models.Authentication;
@inject SignInManager<Employee> SignInManager;

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MrsCleanCapstone</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mc-style.css" />
    <link rel="stylesheet" href="~/css/admin-style.css" />
    <link rel="stylesheet" href="~/css/admin-cards.css" />
    <link rel="stylesheet" href="~/css/deals.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link href="~/css/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.4/css/dx.light.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.1.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.0.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.9/jspdf.plugin.autotable.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/21.1.4/js/dx.all.js"></script>
</head>

<body>
    <header>
        <a href="#">
            <img src="/images/mrsclean-logosmall.png" class="logo">
        </a>
        <div class="toggle"></div>
        <ul class="navigation">
            <li><a href="#">Home</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MrsCleanCapstone - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        //toggle
        const menutoggle = document.querySelector('.toggle');
        const navigation = document.querySelector('.navigation');
        menutoggle.onclick = () => {
            menutoggle.classList.toggle('active')
            navigation.classList.toggle('active')
        }

        //slider
        const slides = document.querySelectorAll('.slides');
        const prev = document.querySelector('.prev');
        const next = document.querySelector('.next');

        i = 0;

        function ActiveSlides(n) {
            for (slide of slides) {
                slide.classList.remove('active');
            }
            slides[n].classList.add('active')
        }

        prev.addEventListener('click', () => {
            if (i == 0) {
                i = slides.length - 1;
                ActiveSlides(i);
            } else {
                i--;
                ActiveSlides(i);
            }
        })

        next.addEventListener('click', () => {
            if (i == slides.length - 1) {
                i = 0;
                ActiveSlides(i);
            } else {
                i++;
                ActiveSlides(i);
            }
        })

    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
