@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="no_success_box">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <a href="javascript:history.back()">Go Back</a>
</div>
