
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="no_success_box">
    <h1 class="text-danger">Incorrect username or password</h1>
    <a href="javascript:history.back()">Back to login page</a>
</div>

