.admin-dashboard-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.admin-action {
    background: snow;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 1rem;
    transition: all 0.2s;
    text-align: center;
}

.admin-action:hover{
    cursor: pointer;
    border: 2px solid dodgerblue;
    color: dodgerblue;
}