@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.admin_container {
    position: relative;
    min-height: 100vh;
    background: #E7F3F1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 100px;
}

.admin_content{
    width:100%;
}

.admin_content_title {
    border: solid #df0505;
    border-width: 4px 0 4px 0px;
    padding: 10px;
    margin: 0 auto;
    width: 50%;
}

    .admin_content_title h3 {
        text-align: center;
        font-weight: 700;
        color: #b0c7d5;
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0px;
    }

    .admin_content_title h2 {
        text-align: center;
        font-weight: 800;
        font-style: normal;
        color: #193b7b;
        font-size: 70px;
        line-height: 1.2;
        letter-spacing: 0px;
    }

.admin_data_cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;
}
.admin-data-card {
    display: flex;
    flex-direction: column;
    width: 35%;
    min-height: 15.75em;
    overflow: hidden;
    border-radius: 0.5em;
    text-decoration: none;
    background: white;
    padding: 2.75em 2.5em;
    box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
    transition: transform 0.45s ease, background 0.45s ease;
    margin-bottom: 2em;
}

    .admin-data-card h3 {
        color: #2E3C40;
        font-size: 3em;
        font-weight: 600;
        line-height: 1;
        padding-bottom: 0.5em;
        margin: 0 0 0.142857143em;
        border-bottom: 2px solid #753BBD;
        transition: color 0.45s ease, border 0.45s ease;
    }

    .admin-data-card h4 {
        color: #627084;
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.1em;
        margin: 0 0 1.777777778em;
        transition: color 0.45s ease;
    }

    .admin-data-card p {
        opacity: 0;
        color: #FFFFFF;
        font-weight: 600;
        line-height: 1.8;
        margin: 0 0 1.25em;
        transform: translateY(-1em);
        transition: opacity 0.45s ease, transform 0.5s ease;
    }

    .admin-data-card .link-text {
        display: block;
        color: #753BBD;
        font-size: 1.125em;
        font-weight: 600;
        line-height: 1.2;
        margin: auto 0 0;
        transition: color 0.45s ease;
        text-align: center;
    }


        .admin-data-card .link-text a i {
            font-size: 3rem;
            border: 2px solid lightblue;
        }

    .admin-data-card:hover {
        text-decoration: none;
        background: dodgerblue;
        transform: scale(1.02);
        cursor: pointer;
    }

        .admin-data-card:hover h3 {
            color: #FFFFFF;
            border-bottom-color: #A754C4;
        }

        .admin-data-card:hover h4 {
            color: #FFFFFF;
        }

        .admin-data-card:hover p {
            opacity: 1;
            transform: none;
        }

        .admin-data-card:hover .link-text {
            color: #FFFFFF;
        }

            .admin-data-card:hover .link-text a {
                -webkit-animation: point 1.25s infinite alternate;
                animation: point 1.25s infinite alternate;
            }

            .admin-data-card:hover .link-text a {
                color: #FFFFFF;
            }

    .admin-data-card .link-text a i:hover {
        color: black;
    }

@-webkit-keyframes point {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0.125em);
    }
}

@keyframes point {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0.125em);
    }
}
